<h2 mat-dialog-title class="bg-success fw-semibold">{{ "EditProject" | localize }}</h2>
<mat-dialog-content>

    <p class="py-4 mb-5 border-bottom">{{ "AddProjectText" | localize }}</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
            <div class="col-8">
                <mat-form-field class="form-field">
                    <mat-label>{{ "Title" | localize}}</mat-label>
                    <input matInput placeholder='{{"TitlePlaceholder"|localize}}' formControlName="title">
                    <mat-error
                        *ngIf="form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)">
                        {{"titleRequired"|localize}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-4">
                <mat-form-field class="form-field">
                    <mat-label>{{ "Year" | localize}}</mat-label>
                    <input type="number" matInput placeholder='{{"YearPlaceholder"|localize}}' formControlName="year">
                    <mat-error
                        *ngIf="form.get('year').invalid && (form.get('year').dirty || form.get('year').touched)">
                        {{"YearRequired"|localize}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">              
                <mat-form-field class="form-field">
                    <mat-label>{{ "Description" | localize}}</mat-label>
                    <textarea matInput rows="4" placeholder='{{"ProjectDescriptionPlaceholder"|localize}}'
                      formControlName="description"></textarea>
                      <mat-error
                        *ngIf="form.get('description').invalid && (form.get('description').dirty || form.get('description').touched)">
                        {{"DescriptionRequired"|localize}}
                    </mat-error>
                  </mat-form-field>          
            </div>

        </div>

      
        <input type="hidden" name="applicantId" id="applicantId" formControlName="applicantId" />


    </form>
</mat-dialog-content>
<mat-dialog-actions class="px-4 py-4 mt-3 justify-content-between">
    <button mat-button (click)="Cancel()">{{ "Cancel" | localize }}</button>
    <button mat-raised-button cdkFocusInitial class="bg-success px-5" (click)="onSubmit()">{{ "UpdateProject"|
        localize }}</button>
</mat-dialog-actions>