<!-- <form class="form-horizontal rounded-0" autocomplete="off" #editApplicantModal="ngForm" (ngSubmit)="save()">

  <abp-modal-header [title]="'UpdateProfile' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body rounded-0">
 

  </div>

  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!editApplicantModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form> -->
<mat-card>
  <mat-card-content>

    <form [formGroup]="applicantProfileFg" (ngSubmit)="onSubmit()">
      <div class="row">
        <mat-form-field >
          <input matInput placeholder="Years of Experience" formControlName="yearsOfExperience">
          <mat-error *ngIf="form.get('yearsOfExperience').hasError('required')">
            Years of Experience is required
          </mat-error>
        </mat-form-field>
  
        <mat-form-field >
          <input matInput placeholder="Years of Experience" formControlName="yearsOfExperience">
          <mat-error *ngIf="form.get('yearsOfExperience').hasError('required')">
            Years of Experience is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Input</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option value="one">First option</mat-option>
            <mat-option value="two">Second option</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Textarea</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
    
      <!-- Other form fields... -->
    
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>


  </mat-card-content>
</mat-card>