<h2 mat-dialog-title class="bg-success">{{ "EmploymentAvailability" | localize }}</h2>
<mat-dialog-content>
  <p class="py-4 mb-5 border-bottom">{{ "EmploymentAvailabilityText" | localize }}</p>

  <!-- <div class="row h-25">
    <div class="col">
      <img src height="350" class="rounded-50">
    </div>
    <div class="col">
      <button mat-button class="w-100 py-3 mb-4">{{ "UploadPhoto" | localize }}</button>

      {{ "UploadPhotoText" | localize }}
    </div>
  </div> -->
  <div class="row mb-3">
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Headline" | localize}}</mat-label>
        <textarea matInput rows="2" placeholder="A passionate and goal-driven economist......"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Firstname" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Middlename" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Lastname" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Email" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Phone" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"AlternatePhone" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"DateofBirth" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col mb-3">
      <mat-form-field class="form-field">
        <mat-label>{{"Age" | localize}}</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Gender" | localize}}</mat-label>
        <mat-select>
          <mat-option value=""></mat-option>
          <mat-option value="Male">{{"Male" | localize}}</mat-option>
          <mat-option value="Female">{{"Female" | localize}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Address" | localize}}</mat-label>
        <textarea matInput rows="4" placeholder="36 St. Geogina Road Broxton......"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"HighestEducationLevel" | localize}}</mat-label>
        <mat-select>
          <mat-option value=""></mat-option>
          <mat-option value="PostGraduateDegree">{{"PostGraduateDegree" | localize}}</mat-option>
          <mat-option value="UndergraduateDegree">{{"Undergraduate Degree" | localize}}</mat-option>
          <mat-option value="Diploma">{{"Diploma" | localize}}</mat-option>
          <mat-option value="HighSchool">{{"HighSchool" | localize}}</mat-option>
          <mat-option value="PrimarySchool">{{"PrimarySchool" | localize}}</mat-option>
          <mat-option value="VocationalStudies">{{"FeVocationalStudiesmale" | localize}}</mat-option>
        </mat-select>

      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field class="form-field">
        <mat-label>{{"Country" | localize}}</mat-label>
        <mat-select>
         
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="px-4 py-4 mt-3" align="end">
  <button mat-raised-button>No Thanks</button>
  <button mat-raised-button cdkFocusInitial class="bg-success">{{ "UpdateProfile" | localize }}</button>
</mat-dialog-actions>