.form-control{
    border-radius: 0% !important;
    padding: 20px 30px !important;
}
.form-select{
    border-radius: 0% !important;
    padding: 10px 30px !important;
}


.form-field{

width: 100%;
}


.profile-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .profile-radio-button {
    margin: 5px;
  }