<h2 mat-dialog-title class="bg-success fw-semibold">{{ "EmploymentAvailability" | localize }}</h2>
<mat-dialog-content>
  <p class="py-4 mb-5 border-bottom">{{ "EmploymentAvailabilityText" | localize }}</p>

  <!-- <div class="row h-25">
    <div class="col">
      <img src height="350" class="rounded-50">
    </div>
    <div class="col">
      <button mat-button class="w-100 py-3 mb-4">{{ "UploadPhoto" | localize }}</button>

      {{ "UploadPhotoText" | localize }}
    </div>
  </div> -->


  <form [formGroup]="form" (ngSubmit)="onSubmit()">   
    <div class="row mb-2">
      <p class="fs-5 fw-semibold">{{"Biodata"|localize}}</p>
    </div> 
    <div class="row mb-3">
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"Firstname" | localize}}</mat-label>
          <input type="text" matInput placeholder='{{"FirstnamePlaceholder"|localize}}' formControlName="firstName">
          <mat-error
            *ngIf="form.get('firstName').invalid && (form.get('firstName').dirty || form.get('firstName').touched)">
            {{"FirstNameRequired" | localize}}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"Middlename" | localize}}</mat-label>
          <input type="text" matInput placeholder='{{"MiddlenamePlaceholder"|localize}}' formControlName="middleName">
          <!-- <mat-error
            *ngIf="form.get('middleName').invalid && (form.get('middleName').dirty || form.get('middleName').touched)">
            {{"MiddleNameRequired|"| localize}}
          </mat-error> -->
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"Lastname" | localize}}</mat-label>
          <input type="text" matInput placeholder='{{"LastnamePlaceholder"|localize}}' formControlName="lastName">
          <mat-error
            *ngIf="form.get('lastName').invalid && (form.get('lastName').dirty || form.get('lastName').touched)">
            {{"LastNameRequired" | localize}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"Email" | localize}}</mat-label>
          <input type="email" matInput placeholder='{{"EmailPlaceholder"|localize}}' formControlName="email">
          <mat-error *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)">
            {{ "EmailRequired" | localize }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"Phone" | localize}}</mat-label>
          <input type="text" matInput placeholder='{{"PhonePlaceholder"|localize}}' formControlName="phone">
          <mat-error *ngIf="form.get('phone').invalid && (form.get('phone').dirty || form.get('phone').touched)">
            {{ "PhoneRequired" | localize }}
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"AlternatePhone" | localize}}</mat-label>
          <input matInput placeholder='{{"AlternatePhonePlaceholder"|localize}}' formControlName="alternatePhone">
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"DateofBirth" | localize}}</mat-label>
          <input type="date" matInput   formControlName="dateOfBirth">
        </mat-form-field>
      </div>
      <div class="col mb-3">
        <mat-form-field class="form-field">
          <mat-label>{{"Age" | localize}}</mat-label>
          <input matInput placeholder='{{"AgePlaceholder"|localize}}' formControlName="age">
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"Gender" | localize}}</mat-label>
          <mat-select formControlName="gender">
            <mat-option value=""></mat-option>
            <mat-option value="Male">{{"Male" | localize}}</mat-option>
            <mat-option value="Female">{{"Female" | localize}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-8">
        <mat-form-field class="form-field">
          <mat-label>{{ "Address" | localize}}</mat-label>
          <textarea matInput rows="1" placeholder='{{"AddressPlaceholder"|localize}}'
            formControlName="address"></textarea>
        </mat-form-field>


      </div>
      <div class="col-4">

        <mat-form-field class="form-field">
          <mat-label>{{"Country" | localize}}</mat-label>
          <mat-select formControlName="country">
            <mat-option>None</mat-option>
            <mat-option value="Benin">Benin</mat-option>
            <mat-option value="Burkina Faso">Burkina Faso</mat-option>
            <mat-option value="Cabo Verde">Cabo Verde</mat-option>
            <mat-option value="Cote D'Ivoire">Cote D'Ivoire</mat-option>
            <mat-option value="Gambia">Gambia</mat-option>
            <mat-option value="Ghana">Ghana </mat-option>
            <mat-option value="Guinea">Guinea</mat-option>
            <mat-option value="Guinea Bissau">Guinea Bissau</mat-option>
            <mat-option value="Liberia">Liberia</mat-option>
            <mat-option value="Mali">Mali</mat-option>
            <mat-option value="Niger">Niger</mat-option>
            <mat-option value="Nigeria">Nigeria</mat-option>
            <mat-option value="Senegal">Senegal</mat-option>
            <mat-option value="Sierra Leone">Sierra Leone</mat-option>
            <mat-option value="Togo">Togo</mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="row mb-3">
      <div class="col-4">
        <mat-form-field class="form-field">
          <mat-label>{{"HighestEducationLevel" | localize}}</mat-label>
          <mat-select formControlName="educationLevel">
            <mat-option value=""></mat-option>
            <mat-option value="PostGraduahteDegree">{{"PostGraduateDegree" | localize}}</mat-option>
            <mat-option value="UndergraduateDegree">{{"Undergraduate Degree" | localize}}</mat-option>
            <mat-option value="Diploma">{{"Diploma" | localize}}</mat-option>
            <mat-option value="HighSchool">{{"HighSchool" | localize}}</mat-option>
            <mat-option value="PrimarySchool">{{"PrimarySchool" | localize}}</mat-option>
            <mat-option value="VocationalStudies">{{"VocationalStudies" | localize}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <div class="col">
          <mat-form-field class="form-field">
            <mat-label>{{"YearExpereince" | localize}}</mat-label>
            <input type="text" matInput placeholder='{{"YearsOfExperiencePlaceholder"|localize}}' formControlName="yearsOfExperience">
            <mat-error
              *ngIf="form.get('yearsOfExperience').invalid && (form.get('yearsOfExperience').dirty || form.get('yearsOfExperience').touched)">
              {{"YearsOfExperienceRequired" | localize}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <p  class="fs-5 fw-semibold">{{"EcowasHistory"|localize}}</p>
    </div>
    <div class="row  mb-4">
      <div class="col">
        {{"SelectEcowasHistory" | localize}}
        <mat-radio-group aria-label="Select an option" formControlName="isEcowas" class="profile-radio-group fw-normal">
          <mat-radio-button color="primary" value="Current">{{"CurrentEcowas" | localize}}</mat-radio-button>
          <mat-radio-button color="primary" value="Previous">{{"HistoricEcowas" | localize}}</mat-radio-button>
          <mat-radio-button color="primary" value="None">{{"NotApplicable" | localize}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="col">
        <mat-form-field class="form-field">
          <mat-label>{{"EcowasInstitution" | localize}}</mat-label>
          <mat-select formControlName="ecowasInstitution">
            <mat-option value=""></mat-option>
            <mat-option value="ECOWAS Commission">{{"EcowasCommission" | localize}}</mat-option>
            <mat-option value="ECOWAS Parliament">{{"EcowasParliament" | localize}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row mb-2">
      <p  class="fs-5 fw-semibold">{{"ProfileHeadline"|localize}}</p>
    </div>
    <div class="row">
      <div class="col">
        {{"CareerHeadlineText" | localize}}
        <mat-form-field class="form-field">
          <mat-label>{{ "Headline" | localize}}</mat-label>
          <textarea matInput rows="3" placeholder='{{"HeadlinePlaceholder"|localize}}' formControlName="headline"></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="row  mb-2">
      <div class="col">
        {{"AboutMeText" | localize}}
        <mat-form-field class="form-field">
          <mat-label>{{ "AboutMe" | localize}}</mat-label>
          <textarea matInput rows="4" placeholder='{{"AboutMePlaceholder"|localize}}' formControlName="aboutMe"></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="px-4 py-4 mt-3" align="end">
  <button mat-raised-button cdkFocusInitial class="bg-success" (click)="onSubmit()">{{ "UpdateProfile" | localize
    }}</button>
</mat-dialog-actions>