<ul class="navbar-nav fw-semibold fs-6 ">
  <a class="navbar-brand fw-light fw-bolder" [routerLink]="('/')">
    <img src="../../assets/img/logo.png" alt="Logo" width="30"
        class="d-inline-block align-text-middle me-2">
    <span class="fs-6"> {{"Careers" | localize}}</span>
</a>
    <li class="nav-item me-2">
      <a class="nav-link fs-6"  [routerLink]="('/applicants/how-to-apply')" role="button">
          {{"HowToApply"|localize}}
      </a>

  </li>
  <li class="nav-item me-2">
      <a class="nav-link fs-6"  [routerLink]="('/applicants/vacancies')"  role="button">
          {{"CurrentJobs"|localize}}
      </a>

  </li>
  <li class="nav-item me-2">
      <a class="nav-link fs-6"   [routerLink]="('/applicants/applications')" >
          {{"MyApplication"|localize}}
      </a>
  </li>
  <li class="nav-item me-2">
      <a class="nav-link fs-6"  [routerLink]="['/applicants/profile']"  srouterLink="">
          {{"CurriculumVitae"|localize}}
      </a>
  </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a class="nav-link" [routerLink]="['/applicants/contact-us']">
        {{ "Support" | localize }}
      </a>
    </li>
  </ul>
  