<!-- <section class="content mb-2">
    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white p-3 fs-5 fw-semibold">
            {{"EmploymentAvailability" | localize}}
        </div>
        <div class="card-body text-left text-secondary-emphasis lh-base  p-3 fs-6">
            {{"EmploymentAvailabilityText" | localize}}
        </div>
        <div class="card-footer  text-right text-uppercase  text-success p-3 bg-white">
            <a href="javascript:;" class="link-success link-opacity-0-hover link-underline-opacity-0 link-underline-opacity-0-hover" onclick="openDialog()"> <span
                    class="text-success fw-semibold"> {{"Update" | localize}}</span></a>
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"AboutMe" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>
    <button mat-raised-button>Testing Me</button>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"WorkExperience" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Education" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"CertificatesAwarded" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Training" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Skills" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Language" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Project" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"CoverLetter" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>


</section> -->
<mat-card class="rounded-0">
    <mat-card-header>
        <mat-card-title class="text-secondary fs-5 fw-semibold"> {{"EmploymentAvailability" | localize}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="p-3 mb-2">
        {{"EmploymentAvailabilityText" | localize}}
    </mat-card-content>
    <mat-card-actions align="end" class="p-3 border border-top">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="openDialog()">{{"Update" | localize}}</button>
    </mat-card-actions>
</mat-card>