<section class="content mb-2">
    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white p-3">
            {{"EmploymentAvailability" | localize}}
        </div>
        <div class="card-body text-left lh-base  p-3 fs-6">
            {{"EmploymentAvailabilityText" | localize}}
        </div>
        <div class="card-footer  text-bg-light text-right bg-white p-3">
            {{"Update" | localize}}
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"AboutMe" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"WorkExperience" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Education" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"CertificatesAwarded" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Training" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Skills" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Language" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"Project" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>

    <div class="card rounded-0">
        <div class="card-header border border-0 text-bg-light bg-white  p-3">
            {{"CoverLetter" | localize}}
        </div>
        <div class="card-body p-5 text-center lh-base"> </div>
        <div class="card-footer  text-bg-light bg-white py-4">
        </div>
    </div>


</section>