<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold">{{"EmploymentAvailability" |
            localize}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">
        {{"EmploymentAvailabilityText" | localize}}
    </mat-card-content>
    <mat-card-actions align="end" class="px-4 border border-top">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="updateProfile()">{{"Update" |
            localize}}</button>
    </mat-card-actions>
</mat-card>
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold"> {{"AboutMe" | localize}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">       
        <p> {{ profileAboutme }} </p>
        
    </mat-card-content>
    <mat-card-actions align="end" class="px-4 border border-top">
        <!-- <button mat-button class="text-success fw-semibold text-uppercase" (click)="openDialog()">{{"Update" | localize}}</button> -->
    </mat-card-actions>
</mat-card>

<!-- Work Experiences -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold">{{"WorkExperience" | localize}}</mat-card-title>
        <mat-card-subtitle class="fs-6">{{"ListWorkExperiences" | localize }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">
        <mat-list>
            <div *ngFor="let experience of profileExperiences; let i = index" track experience>
                <mat-list-item *ngIf="i < 5" class="p-0">
                    <p matListItemTitle class="fw-semibold fs-6 pb-2">{{experience.jobTitle}} {{ "at" |localize }}
                        {{experience.organization}} - {{ experience.level }} </p>
                    <p matListItemLine class="fs-6">{{ experience.location }} &nbsp; {{
                        experience.startMonth }} | {{experience.startYear}} - {{experience.endMonth}}
                        {{experience.endYear}} </p>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="viewWorkExperience()">{{"ViewAll" |
            localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="addWorkExperience()">{{"Add" |
            localize}}</button>
    </mat-card-actions>
</mat-card>

<!-- Education -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold mb-3">{{"Education" | localize}}</mat-card-title>
        <mat-card-subtitle class="fs-6">{{"ListAcademicQualifications" | localize}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">

        <mat-list>
            <div *ngFor="let qualification of profileQualifications; let i = index" track qualification>
                <mat-list-item *ngIf="i < 5" class="px-0">
                    <p matListItemTitle class="fw-semibold fs-6 pb-2">{{qualification.institution}}</p>
                    <p matListItemLine class="fs-6">{{ qualification.certificateAwarded }}: {{
                        qualification.course }} | {{qualification.startMonth}} {{qualification.startYear}} -
                        {{qualification.endMonth}} {{qualification.endYear}} </p>
                </mat-list-item>
            </div>


        </mat-list>

    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase"
            (click)="viewAcademicQualitification()">{{"ViewAll" | localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase"
            (click)="addAcademicQualitification()">{{"Add" | localize}}</button>
    </mat-card-actions>
</mat-card>


<!-- Certificates Awarded -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold">{{"CertificatesAwarded" | localize}}</mat-card-title>
        <mat-card-subtitle class="fs-6">{{"ListCertificatesAwarded" | localize }}</mat-card-subtitle>

    </mat-card-header>
    <mat-card-content class="px-4 mb-2">
        <mat-list>
            <div *ngFor="let certificateaward of profileCertificateAwardeds; let i = index" track certificateaward>
                <mat-list-item *ngIf="i < 5" class="px-0">
                    <p matListItemTitle class="fw-semibold fs-6 pb-2">{{certificateaward.title}}</p>
                    <p matListItemLine class="fs-6">{{certificateaward.type}} | {{certificateaward.yearReceived}}</p>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase"
            (click)="viewCertificateAwarded()">{{"ViewAll" | localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="addCertificateAwarded()">{{"Add" |
            localize}}</button>
    </mat-card-actions>
</mat-card>

<!-- Trainings -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold">{{"Training" | localize}}</mat-card-title>
        <mat-card-subtitle class="fs-6">{{"ListTrainings" | localize }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">
        <mat-action-list class="px-0" *ngFor="let training of profileTrainings; let i = index" track training>
            <div matListItemTitle class="fw-semibold fs-6">{{training.title}}</div>
            <div matListItemLine class="fs-6 mt-1">{{training.organization}} </div>
            <div matListItemLine class="fs-6 mt-1">{{training.month}} | {{training.year}} </div>

        </mat-action-list>
    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="viewTraining()">{{"ViewAll" |
            localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="addTraining()">{{"Add" |
            localize}}</button>
    </mat-card-actions>
</mat-card>

<!-- Skills -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold">{{"Skills" | localize}}</mat-card-title>
        <mat-card-subtitle class="fs-6">{{"ListSkills" | localize }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">
        <mat-action-list class="px-0" *ngFor="let skill of profileSkills; let i = index" track skill>
            <div matListItemTitle class="fw-semibold fs-6 px-1 ">{{skill.skill}}</div>
            <div matListItemLine class="fs-6 mt-1 px-1">{{skill.description }}</div>
        </mat-action-list>
    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="viewSkills()">{{"ViewAll" |
            localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="addSkill()">{{"Add" |
            localize}}</button>
    </mat-card-actions>
</mat-card>

<!-- Languages -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold"> {{"Language" | localize}}</mat-card-title>
        <mat-card-subtitle class="fs-6">{{"ListLanguages" | localize }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-3">
        <mat-action-list class="px-0" *ngFor="let language of profileLanguages; let i = index" track language>
            <div matListItemTitle class="fw-semibold fs-6 text-left text-uppercase mb-2">{{language.language}}
            </div>
            <div class="row text-left">
                <div class="col">{{"Spoken"|localize }}</div>
                <div class="col">{{"Read" |localize }}</div>
                <div class="col">{{"Written" |localize }}</div>
                <div class="col">{{"Understanding" |localize }}</div>
            </div>
            <div class="row text-left">
                <div class="col">
                    <div
                        *ngIf="language.speakingProficiency == true; then isSpeakingCheckedBlock else notSpeakingCheckedBlock">
                    </div>
                    <ng-template #isSpeakingCheckedBlock><mat-checkbox checked="true"></mat-checkbox></ng-template>
                    <ng-template #notSpeakingCheckedBlock><mat-checkbox checked="false"></mat-checkbox></ng-template>
                </div>
                <div class="col">
                    <div
                        *ngIf="language.readingProficiency == true; then isReadingCheckedBlock else notReadingCheckedBlock">
                    </div>
                    <ng-template #isReadingCheckedBlock><mat-checkbox checked="true"></mat-checkbox></ng-template>
                    <ng-template #notReadingCheckedBlock><mat-checkbox checked="false"></mat-checkbox></ng-template>

                </div>
                <div class="col">
                    <div
                        *ngIf="language.writtingProficiency == true; then isWrittenCheckedBlock else notWrittenCheckedBlock">
                    </div>
                    <ng-template #isWrittenCheckedBlock><mat-checkbox checked="true"></mat-checkbox></ng-template>
                    <ng-template #notWrittenCheckedBlock><mat-checkbox checked="false"></mat-checkbox></ng-template>
                </div>
                <div class="col">
                    <div
                        *ngIf="language.understandingProficiency == true; then isUnderstandingCheckedBlock else notUnderstandingCheckedBlock">
                    </div>
                    <ng-template #isUnderstandingCheckedBlock><mat-checkbox checked="true"></mat-checkbox></ng-template>
                    <ng-template #notUnderstandingCheckedBlock><mat-checkbox checked="false"></mat-checkbox></ng-template>
                </div>
            </div>


        </mat-action-list>
    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="viewLanguages()">{{"ViewAll" |
            localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="addLanguage()">{{"Add" |
            localize}}</button>
    </mat-card-actions>
</mat-card>

<!-- Projects -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold"> {{"Projects" | localize}}</mat-card-title>
        <mat-card-subtitle>{{"ListProjects" | localize }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">
        <mat-action-list class="px-0" *ngFor="let project of profileProjects; let i = index" track project>
            <div matListItemTitle class="fw-semibold fs-6">{{project.title}} - {{project.year}}</div>
            <div matListItemLine class="fs-6 mt-1">{{ project.description }}</div>


        </mat-action-list>
    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="viewProjects()">{{"ViewAll" |
            localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="addProject()">{{"Add" |
            localize}}</button>
    </mat-card-actions>
</mat-card>

<!-- Cover Letter -->
<div class="row mb-3"></div>
<mat-card class="rounded-0">
    <mat-card-header class="px-4 mb-3">
        <mat-card-title class="text-secondary fs-5 fw-semibold"> {{"CoverLetter" | localize}}</mat-card-title>
        <mat-card-subtitle>{{"ListCoverLetter" | localize }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="px-4 mb-2">
        <mat-action-list class="px-0" *ngFor="let coverletter of profileCoverLetters; let i = index" track coverletter>
            <div matListItemTitle class="fw-semibold fs-6">{{coverletter.title}} </div>
            <div matListItemLine class="fs-6 mt-1">{{ coverletter.letter }}</div>

        </mat-action-list>
    </mat-card-content>
    <mat-card-actions class="px-4 border border-top justify-content-between">
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="viewCoverLetters()">{{"ViewAll" |
            localize}}</button>
        <button mat-button class="text-success fw-semibold text-uppercase" (click)="addCoverLetter()">{{"Add" |
            localize}}</button>
    </mat-card-actions>
</mat-card>