<h2 mat-dialog-title class="bg-success fw-semibold">{{ "AddTraining" | localize }}</h2>
<mat-dialog-content>

    <p class="py-4 mb-5 border-bottom">{{ "AddTrainingText" | localize }}</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
            <div class="col">
                <mat-form-field class="form-field">
                    <mat-label>{{ "Title" | localize}}</mat-label>
                    <input matInput placeholder='{{"TitlePlaceholder"|localize}}' formControlName="title">
                    <mat-error
                        *ngIf="form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)">
                        {{"TitleRequired"|localize}}
                    </mat-error>
                </mat-form-field>
            </div>


        </div>
        <div class="row mb-4">
            <div class="col">
                <mat-form-field class="form-field">
                    <mat-label>{{ "OrganizationPlaceholder" | localize}}</mat-label>
                    <input matInput placeholder='{{"Organization"|localize}}' formControlName="organization">
                    <mat-error
                        *ngIf="form.get('organization').invalid && (form.get('organization').dirty || form.get('organization').touched)">
                        {{"OrganizationNameRequired"|localize}}
                    </mat-error>
                </mat-form-field>
            </div>

        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="form-field">
                            <mat-label>{{"Month" | localize}}</mat-label>
                            <mat-select formControlName="month">
                                <mat-option>None</mat-option>
                                <mat-option value="January">{{"January"|localize}}</mat-option>
                                <mat-option value="February">{{"February"|localize}}</mat-option>
                                <mat-option value="March">{{"March"|localize}}</mat-option>
                                <mat-option value="April">{{"April"|localize}}</mat-option>
                                <mat-option value="May">{{"May"|localize}}</mat-option>
                                <mat-option value="June">{{"June"|localize}}</mat-option>
                                <mat-option value="July">{{"July"|localize}}</mat-option>
                                <mat-option value="August">{{"August"|localize}}</mat-option>
                                <mat-option value="September">{{"September"|localize}}</mat-option>
                                <mat-option value="October">{{"October"|localize}}</mat-option>
                                <mat-option value="November">{{"November"|localize}}</mat-option>
                                <mat-option value="December">{{"December"|localize}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="form-field">
                            <mat-label>{{ "Year" | localize}}</mat-label>
                            <input matInput type="number" placeholder="YearPlaceholder" formControlName="year">
                            <mat-error
                                *ngIf="form.get('year').invalid && (form.get('year').dirty || form.get('year').touched)">
                                {{"YearRequired"|localize}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>


        </div>

        <input type="hidden" name="applicantId" id="applicantId" formControlName="applicantId" />


    </form>
</mat-dialog-content>
<mat-dialog-actions class="px-4 py-4 mt-3 justify-content-between">
    <button mat-button (click)="Cancel()">{{ "Cancel" | localize }}</button>
    <button mat-raised-button cdkFocusInitial class="bg-success px-5" (click)="onSubmit()">{{ "AddTraining"|
        localize }}</button>
</mat-dialog-actions>