<mat-card class="rounded-0">
  <mat-card-header class="bg-success p-5">
    <mat-card-title></mat-card-title>
    <mat-card-subtitle>{{total}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mat-list>

      <mat-list-item *ngIf="applicant.aboutMe ==''; else aboutMeElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger " (click)="updateProfile()">{{"AboutMe"|
          localize}}</a>
      </mat-list-item>
      <ng-template #aboutMeElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="updateProfile()">{{"AboutMe"|
            localize}}</a>
        </mat-list-item>
      </ng-template>


      <mat-list-item *ngIf="applicant.headline ==''; else headlineElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger " (click)="updateProfile()">{{"Headline"|
          localize}} </a>
      </mat-list-item>
      <ng-template #headlineElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="updateProfile()">{{"Headline"|
            localize}}</a>
        </mat-list-item>
      </ng-template>


      <mat-list-item *ngIf="profileExperiences.length > 0; else experienceElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success"
          (click)="viewWorkExperience()">{{"WorkExperience"| localize}}</a>
      </mat-list-item>
      <ng-template #experienceElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger "
            (click)="addWorkExperience()">{{"WorkExperience"| localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="profileQualifications.length > 0; else qualificationElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success"
          (click)="viewAcademicQualitification()">{{"Education"| localize}}  </a>
      </mat-list-item>
      <ng-template #qualificationElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger "
            (click)="addAcademicQualitification()">{{"Education"| localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="profileCertificateAwardeds.length > 0; else certficateElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success"
          (click)="viewCertificateAwarded()">{{"CertificateAward"| localize}}</a>
      </mat-list-item>
      <ng-template #certficateElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger "
            (click)="addCertificateAwarded()">{{"CertificateAward"| localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="profileTrainings.length > 0; else trainingElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="viewTraining()">{{"Training"|
          localize}}</a>
      </mat-list-item>
      <ng-template #trainingElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger " (click)="addTraining()">{{"Training"|
            localize}}</a>
        </mat-list-item>
      </ng-template>


      <mat-list-item *ngIf="profileSkills.length > 0; else skillElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="viewSkills()">{{"Skill"|
          localize}}</a>
      </mat-list-item>
      <ng-template #skillElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger " (click)="addSkill()">{{"Skill"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      
      <mat-list-item *ngIf="profileLanguages.length > 0; else languageElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="viewLanguages()">{{"Languages"|
          localize}}</a>
      </mat-list-item>
      <ng-template #languageElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger " (click)="addLanguage()">{{"Languages"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="profileProjects.length > 0; else projectElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="viewProjects()">{{"Projects"|
          localize}}</a>
      </mat-list-item>
      <ng-template #projectElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger " (click)="addProject()">{{"Projects"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="profileCoverLetters.length > 0; else coverletterElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="viewCoverLetters()">{{"CoverLetters"|
          localize}}</a>
      </mat-list-item>
      <ng-template #coverletterElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger " (click)="addCoverLetter()">{{"CoverLetters"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.educationLevel == ''; else educationLevelElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"QualificationLevel"|
          localize}}</a>
      </mat-list-item>
      <ng-template #educationLevelElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success" (click)="updateProfile()">{{"QualificationLevel"|
            localize}}</a>
        </mat-list-item>
      </ng-template>


      <mat-list-item *ngIf="this.applicant.firstName == ''; else firstNameElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Firstname"|
          localize}}</a>
      </mat-list-item>
      <ng-template #firstNameElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Firstname"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.middleName == ''; else middleNameElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Middlename"|
          localize}}</a>
      </mat-list-item>
      <ng-template #middleNameElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Middlename"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.lastName == ''; else lastNameElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Lastname"|
          localize}}</a>
      </mat-list-item>
      <ng-template #lastNameElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Lastname"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.gender == ''; else genderElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Gender"|
          localize}}</a>
      </mat-list-item>
      <ng-template #genderElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Gender"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.country == ''; else countryElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Country"|
          localize}}</a>
      </mat-list-item>
      <ng-template #countryElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Country"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.phone == ''; else phoneElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Phone"|
          localize}}</a>
      </mat-list-item>
      <ng-template #phoneElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Phone"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.email == ''; else emailElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Email"|
          localize}}</a>
      </mat-list-item>
      <ng-template #emailElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Email"|
            localize}}</a>
        </mat-list-item>
      </ng-template>

      <mat-list-item *ngIf="this.applicant.address == ''; else addressElseBlock">
        <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"Address"|
          localize}}</a>
      </mat-list-item>
      <ng-template #addressElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"Address"|
            localize}}</a>
        </mat-list-item>
      </ng-template>


      <mat-list-item *ngIf="this.applicant.yearsOfExperience > 0; yopElseBlock">
          <mat-icon matListItemIcon color="primary" class="border-2">check_circle_outline</mat-icon>
          <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-success " (click)="updateProfile()">{{"YearsOfExperience"|
            localize}}</a>
        </mat-list-item>  
      <ng-template #yopElseBlock>
        <mat-list-item>
          <mat-icon matListItemIcon color="primary" class="border-2">radio_button_unchecked </mat-icon>
        <a matListItemTitle class="pt-2 text-decoration-none fs-6 fw-semibold text-danger" (click)="updateProfile()">{{"YearsOfExperience"|
          localize}}</a>
      </mat-list-item>
      </ng-template>




    </mat-list>
  </mat-card-content>

</mat-card>