.applicant-page{
    background-image: url('../assets/img/globe.png');
    background-position-x: right;
    background-position-y:top;
    background-repeat: no-repeat;
    background-color: #dffedb;
    height: 100%;
}


.img-profile{
    border-radius: 75px;

}
.modal-title{
    font-size: 16px !important;
}