<div [@routerTransition]>
    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <!-- <app-headline-profile></app-headline-profile> -->
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h2 class="bg-success fs-5 fw-semibold p-3 mb-0">{{ "Project" | localize }}</h2>

                <mat-card class="rounded-0">

                    <mat-card-header>
                        <mat-card-title class="text-secondary fs-5 fw-semibold mb-3"></mat-card-title>
                        <mat-card-subtitle class="fs-6">{{"ListProject" | localize}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="p-1 mb-2">
                        <mat-divider class="mt-3 mb-1"></mat-divider>

                        <mat-action-list *ngFor="let project of profileProjects; let i = index" track
                            project>
                            <div matListItemTitle class="fw-semibold fs-6 px-3 ">{{project.title}} - {{project.year}}</div>
                            <div matListItemLine class="fs-6 mt-1 px-3">{{ project.description }}</div>

                            <div class="row justify-content-between px-2 mt-4">
                                <div class="col">
                                    <button mat-button class="text-success fw-semibold text-uppercase"
                                        (click)="deleteProject(project)">{{"Delete" | localize}}</button>
                                </div>
                                <div class="col text-right">
                                    <button mat-button  class="text-success fw-semibold text-uppercase"
                                        (click)="editProject(project)">{{"Edit" | localize}}</button>
                                </div>
                            </div>                          
                        </mat-action-list>                       

                    </mat-card-content>
                    <mat-card-actions class="p-3 border border-top justify-content-between">
                        <button mat-button class="text-success fw-semibold text-uppercase"  color="accent"  (click)="goBack()">{{"Back" |
                            localize}}</button>
                        <button mat-button class="text-success fw-semibold text-uppercase" color="primary"
                            (click)="addProject()">{{"AddProject" | localize}}</button>
                    </mat-card-actions>
                </mat-card>
                <!-- <app-detail-profile></app-detail-profile> -->
            </div>
            <div class="col-md-4">
                <app-score-profile></app-score-profile>
            </div>
        </div>

    </div>
</div>