<section class="content mb-2">
    <div class="card rounded-0 py-5
     m-0">

    </div>
    <div class="card rounded-0">

        <!-- <div class="card-header  bg-success border border-0 p-2">
                {{"AboutMe" | localize}}
            </div> -->
        <div class="card-body bg-success p-5 text-center lh-base">

            <img class="profile-image mb-4 border border-white border-3" src="../../../assets/img/user.png"
                height="150" />

            <p class="fs-4 fw-semibold mb-1" *ngIf="firstname !='' || lastname!='' || middlename !=''; else nameBlock"> {{ firstname }} {{ middlename }} {{lastname }}</p>
            <ng-template #nameBlock>
                <p class="fs-4 fw-semibold mb-1"> {{"FullName" | localize}}: {{"NotSpecified" | localize}}</p>
            </ng-template>

            <p class="fs-6 fw-normal mb-1" *ngIf="headline != '' else headlineBlock"> {{ headline }}</p>
            <ng-template #headlineBlock>
                <p  class="fs-6 fw-normal  mb-1"> {{"Headline" | localize}}: {{"NotSpecified" | localize}}</p>
            </ng-template>
            <p class="fs-6 fw-normal mb-1" *ngIf="experience > 0 else experienceBlock"> {{"Experience" | localize}}: {{experience}} {{"Years" | localize}}</p>
            <ng-template #experienceBlock>
                <p class="fs-6 fw-normal mb-1"> {{"Experience" | localize}} : {{"NotSpecified" | localize}}</p>
            </ng-template>
            <p class="fs-6 fw-normal mb-1" *ngIf="dateofbirth != null else dobBlock"> {{"DateofBirth" | localize}}: {{dateofbirth }}</p>
            <ng-template #dobBlock>
                <p class="fs-6 fw-normal mb-1"> {{"DateofBirth" | localize}}: {{"NotSpecified" | localize}}</p>
            </ng-template>
            <p class="fs-6 fw-normal mb-1" *ngIf="country != '' else countryBlock"> {{"Country" | localize}}: {{ country }}
            </p>
            <ng-template #countryBlock>
                <p> {{"Country" | localize}}: {{"NotSpecified" | localize}}</p>
            </ng-template>
            <!-- 
           
-->
        </div> 
        <!-- <div class="card-footer  bg-success p-2">

            </div> -->
    </div>

</section>