<section class="content mb-2">
    <div class="card rounded-0 py-5
     m-0">

    </div>
    <div class="card rounded-0">

        <!-- <div class="card-header  bg-success border border-0 p-2">
                {{"AboutMe" | localize}}
            </div> -->
        <div class="card-body bg-success p-5 text-center lh-base">

            <!-- <img class="profile-image mb-4 border border-white border-3" src="../../../assets/img/user.png"
                height="150" />

            <h3 *ngIf="applicant else nameBlock"> {{ applicant.firstName }} {{ applicant.middleName }} {{
                applicant.lastName }}</h3>
            <ng-template #nameBlock>
                <h5> {{"FullName" | localize}}: {{"NotSpecified" | localize}}</h5>
            </ng-template>
            <h5 *ngIf="applicant.headline != '' else headlineBlock"> {{ applicant.headline }}</h5><br>
            <ng-template #headlineBlock>
                <h5> {{"Headline" | localize}}: {{"NotSpecified" | localize}}</h5>
            </ng-template>
            <h6 *ngIf="applicant.yearsOfExperience > 0 else experienceBlock"> {{"Experience" | localize}}: {{
                applicant.yearsOfExperience}} {{"Years" | localize}}</h6>
            <ng-template #experienceBlock>
                <h6> {{"Experience" | localize}}: {{"NotSpecified" | localize}}</h6>
            </ng-template>
            <h6 *ngIf="applicant.dateOfBirth != null else dobBlock"> {{"DateofBirth" | localize}}:
                {{applicant.dateOfBirth }}</h6>
            <ng-template #dobBlock>
                <h6> {{"DateofBirth" | localize}}: {{"NotSpecified" | localize}}</h6>
            </ng-template>

            <h6 *ngIf="applicant.country != '' else countryBlock"> {{"Country" | localize}}: {{ applicant.country }}
            </h6>
            <ng-template #countryBlock>
                <h6> {{"Country" | localize}}: {{"NotSpecified" | localize}}</h6>
            </ng-template> -->

        </div>
        <!-- <div class="card-footer  bg-success p-2">

            </div> -->
    </div>

</section>