<div [@routerTransition]>
    <div class="container vh-75  py-5">
        <div class="row ">
            <div class="col-md-12">
                <!-- <app-headline-profile></app-headline-profile> -->
            </div>
        </div>
        <mat-card  class="rounded-0">
            <!-- <mat-card-header>
                <mat-card-title class="text-secondary fs-5 fw-bold mb-3"></mat-card-title>
                <mat-card-subtitle class="fs-6"></mat-card-subtitle>
            </mat-card-header> -->
            <mat-card-content class="p-0">

                <div class="row contact">
                    <div class="col-6 contact-info p-5">
                        <p class="fs-4 fw-bold text-secondary">{{"CareerSiteSupport"|localize}}</p>
                        <p class="fs-6">{{"CareerSiteSupportText"|localize}}</p>
                        <p class="fs-6"><i class="fa fa-phone-square" aria-hidden="true"></i>  +234(0) 8035731963, +234(0) 8026725455</p>
                        <p class="fs-6"><i class="fa fa-envelope" aria-hidden="true"></i> <span> careers&#64;ecowas.int" </span>, hr&#64;ecowas.int</p>
                        <p class="fs-6"><i class="fa fa-address-book" aria-hidden="true"></i> 101, Yakubu Gowon Crescent, Asokoro District P.M.B 401, Abuja, Nigeria</p>
                        <br>
                        <p class="fs-4 mt-4 fw-bold text-secondary">{{"TechnicalSupport"|localize}}</p>
                        <p class="fs-6 ">{{"TechnicalSupportText"|localize}}</p>
                        <p class="fs-6"><i class="fa fa-phone-square" aria-hidden="true"></i>  +234(0) 8035731963, +234(0) 8026725455</p>
                        <p class="fs-6"><i class="fa fa-envelope" aria-hidden="true"></i> <span> careers&#64;ecowas.int" </span>, hr&#64;ecowas.int</p>
                        <p class="fs-6"><i class="fa fa-address-book" aria-hidden="true"></i> 101, Yakubu Gowon Crescent, Asokoro District P.M.B 401, Abuja, Nigeria</p>
                      
                    </div>
                 
                    <div class="col-6 contact-picture p-5"></div>
                </div>

            </mat-card-content>
            <!-- <mat-card-actions class="p-3 border border-top justify-content-between">
                            <button mat-button class="text-success fw-bold text-uppercase"  color="accent"  (click)="goBack()">{{"Back" |
                                localize}}</button>
                            <button mat-button class="text-success fw-bold text-uppercase" color="primary"
                                (click)="addProject()">{{"AddProject" | localize}}</button>
                        </mat-card-actions> -->
        </mat-card>

    </div>
</div>