<h2 mat-dialog-title class="bg-success fw-semibold">{{ "AddWorkExperience" | localize }}</h2>
<mat-dialog-content>

    <p class="py-4 mb-5 border-bottom">{{ "AddWorkExperienceText" | localize }}</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row mb-4">
            <div class="col">
                <mat-form-field class="form-field">
                    <mat-label>{{ "OrganizationPlaceholder" | localize}}</mat-label>
                    <input matInput placeholder='{{"Organization"|localize}}' formControlName="organization">
                    <mat-error
                        *ngIf="form.get('organization').invalid && (form.get('organization').dirty || form.get('organization').touched)">
                        {{"OrganizationNameRequired"|localize}}
                    </mat-error>
                </mat-form-field>
            </div>
           
        </div>
        <div class="row mb-4">
            <div class="col">
                <mat-form-field class="form-field">
                    <mat-label>{{ "JobTitle" | localize}}</mat-label>
                    <input matInput placeholder='{{"JobTitlePlaceholder"|localize}}' formControlName="jobTitle">
                    <mat-error
                        *ngIf="form.get('jobTitle').invalid && (form.get('jobTitle').dirty || form.get('jobTitle').touched)">
                        {{"JobTitleRequired"|localize}}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field class="form-field">
                    <mat-label>{{"Level" | localize}}</mat-label>
                    <mat-select formControlName="level">
                         <mat-option value=""  >{{"PleaseSelect" | localize}}</mat-option>
                        <mat-option value="NoExperience"> {{"NoExperience" | localize }}</mat-option>
                        <mat-option value="InternshipGraduate" > {{"InternshipGraduate" | localize }}</mat-option>
                        <mat-option value="EntryLevel"> {{"EntryLevel" | localize }}  </mat-option>
                        <mat-option value="MidLevel"> {{"MidLevel" | localize }} </mat-option>
                        <mat-option value="SeniorLevel">  {{"SeniorLevel" | localize }}  </mat-option>
                        <mat-option value="ExecutiveLevel">  {{"ExecutiveLevel" | localize }}  </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="form-field">
                            <mat-label>{{"StartMonth" | localize}}</mat-label>
                            <mat-select formControlName="startMonth">
                                <mat-option>None</mat-option>
                                <mat-option value="January">{{"January"|localize}}</mat-option>
                                <mat-option value="February">{{"February"|localize}}</mat-option>
                                <mat-option value="March">{{"March"|localize}}</mat-option>
                                <mat-option value="April">{{"April"|localize}}</mat-option>
                                <mat-option value="May">{{"May"|localize}}</mat-option>
                                <mat-option value="June">{{"June"|localize}}</mat-option>
                                <mat-option value="July">{{"July"|localize}}</mat-option>
                                <mat-option value="August">{{"August"|localize}}</mat-option>
                                <mat-option value="September">{{"September"|localize}}</mat-option>
                                <mat-option value="October">{{"October"|localize}}</mat-option>
                                <mat-option value="November">{{"November"|localize}}</mat-option>
                                <mat-option value="December">{{"December"|localize}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="form-field">
                            <mat-label>{{ "StartYear" | localize}}</mat-label>
                            <input matInput type="number" placeholder="StartYearPlaceholder" formControlName="startYear">
                            <mat-error
                                *ngIf="form.get('startYear').invalid && (form.get('startYear').dirty || form.get('startYear').touched)">
                                {{"StarYearRequired"|localize}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="form-field">
                            <mat-label>{{"EndMonth" | localize}}</mat-label>
                            <mat-select formControlName="endMonth">
                                <mat-option>None</mat-option>
                                <mat-option value="January">{{"January"|localize}}</mat-option>
                                <mat-option value="February">{{"February"|localize}}</mat-option>
                                <mat-option value="March">{{"March"|localize}}</mat-option>
                                <mat-option value="April">{{"April"|localize}}</mat-option>
                                <mat-option value="May">{{"May"|localize}}</mat-option>
                                <mat-option value="June">{{"June"|localize}}</mat-option>
                                <mat-option value="July">{{"July"|localize}}</mat-option>
                                <mat-option value="August">{{"August"|localize}}</mat-option>
                                <mat-option value="September">{{"September"|localize}}</mat-option>
                                <mat-option value="October">{{"October"|localize}}</mat-option>
                                <mat-option value="November">{{"November"|localize}}</mat-option>
                                <mat-option value="December">{{"December"|localize}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="form-field">
                            <mat-label>{{ "EndYear" | localize}}</mat-label>
                            <input matInput type="number" placeholder="EndYearPlaceholder" formControlName="endYear">
                            <mat-error
                                *ngIf="form.get('endYear').invalid && (form.get('endYear').dirty || form.get('endYear').touched)">
                                {{"EndYearRequired"|localize}}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>

        </div>

        <div class="row mb-4">
            <div class="col">
                <mat-form-field class="form-field">
                    <mat-label>{{ "Location" | localize}}</mat-label>
                    <input matInput placeholder='{{"LocationPlaceHolder"|localize}}' formControlName="location">
                    <mat-error
                        *ngIf="form.get('location').invalid && (form.get('location').dirty || form.get('location').touched)">
                        {{"LocationRequired"|localize}}
                    </mat-error>
                </mat-form-field>
            </div>
           
        </div>

        <div class="row  mb-4">
            <div class="col">
                <span class="fs-semibold mb-2 fs-6">
                    {{"JobFunctionText" | localize}}
                </span>
                <div class="form-field">
                    <editor class="form-field" apiKey="no-api-key" [init]="{ 
                        base_url: '/tinymce',
                        suffix: '.min',
                        plugins: 'lists link image table code help wordcount',
                        menubar: false,
                        branding: false,
                        min_height: 250
                        }" formControlName="function">
                    </editor>
                </div>
            </div>
        </div>
        <input type="hidden" name="applicantId" id="applicantId" formControlName="applicantId" />


    </form>
</mat-dialog-content>
<mat-dialog-actions class="px-4 py-4 mt-3 justify-content-between">
    <button mat-button (click)="Cancel()">{{ "Cancel" | localize }}</button>
    <button mat-raised-button cdkFocusInitial class="bg-success px-5" (click)="onSubmit()">{{ "AddWorkExperience"|
        localize }}</button>
</mat-dialog-actions>


