<div [@routerTransition]>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 px-5">
            <h1 >{{ "About" | localize }}</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="content px-5">
      <div class="container-fluid">
        <div class="card rounded-0">
          <div class="card-body">
         
            
          </div>
        </div>
      </div>
    </section>
  </div>
  